{% extends 'base.html' %}

{% block head %}

{{ super() }}
<link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <video id="my-video" class="video-js mb-4" controls preload="auto" width="800" height="400" data-setup="{}">
            <source src="{{ url_for('watch_video', video_id = video.id) }}" type="video/{{ video_extension }}" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>

        <h3>{{ video.title }}</h3>
        <h4><a href="{{ url_for('user_profile', username = uploader) }}">{{ uploader }}</a></h4>
        <h5>Views: {{ video.watch_count }}</h5>
    </div>

    <div class="col-md-3">
        {% if current_user.is_authenticated and uploader == current_user.username %}
            <h4>More from you</h4>
        {% else %}
            <h4>More from {{ uploader }}</h4>
        {% endif %}

        {% for up_video in uploader_videos %}
            {% if not up_video.id == video.id %}
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ url_for('static', filename = 'images/thumbs/' + up_video.id|string + '.png') }}" alt="{{ up_video.title }}" onerror="this.src='https://picsum.photos/800/450'">
                    <div class="card-body">
                        <h5 class="card-title">{{ up_video.title }}</h5>
                        <p class="card-text">Views: {{ up_video.watch_count }}</p>
                        <a href="{{ url_for('stream_video', video_id = up_video.id) }}" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>

{% endblock %}